<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='loginInvalido'>{{mensagemErro}}</div>
          <div class="alert alert-success" *ngIf='loginSucesso'>{{mensagemSucesso}}</div>
          <div class="form-group">
            <label for="email">Login :</label>
            <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario" placeholder="Digite admin" name="usuario"/>
          </div>
          <div class="form-group">
            <label for="pwd">senha:</label>
            <input type="password" class="form-control" [(ngModel)]="senha" id="senha" placeholder="Digite admin" name="senha"/>
          </div>
          <button (click)=login() class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>